<menu id="MainMenu" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">
    <menu-item id="set_min_cadence" label="@Strings.menu_min_cadence" />
    <menu-item id="set_max_cadence" label="@Strings.menu_max_cadence" />
</menu>
